/* Admin CSS - 12-15-2012 */

/* Admin Settings Page */
div.settings { display:block; position:relative; width:950px; height:1100px; border:0px solid #E2EAED; background:#FFFFFF; margin: 0px 0 0 10px;}
div.settings-sidebar { display: block; width: 146px; height:1100px; float: left; border-right: 1px solid #E2EAED; }
div.settings-content { display: block; width: 780px; height:1100px; float: right; border: 1px solid #FFFFFF; }

div.settings h2.settings{ padding:0px; margin:0px; margin-top:-5px; line-height:23px; }

p#btnholder { text-align:center; padding:0px; margin:20px 0px 20px 0px; }

table.form-table tr td { line-height: normal; }

p#reset_featured {text-align:center; cursor:pointer; }
p#reset_featured:hover { color:#21759B; }
span.gray { color:#999999; }
.insertpost { cursor:pointer; }

.slider { width:170px; margin-right:15px; margin-top:5px; float:left;}
.clear { clear: both; }

div#icon_iire { float:left; height:32px; width:32px; margin: 7px 8px 0 0; background-image: url('../includes/images/icon_iire_logo.png'); }

li#toplevel_page_iire_admin_social_lite_home div.wp-menu-image { background-image: url('../includes/images/icon_iire_logo28.png'); }
li#toplevel_page_iire_admin_social_lite_home div.wp-menu-image a img { display:none; }


/* Widget */
div#chooseicons { width:auto; min-width:680px; height:auto; padding:10px; margin-top:10px; background-color:#EDEDED; }
div#codepreview { width:auto; min-width:680px; min-height:235px; height:auto; background:#FFFFCC; padding:10px; }	

img.select { display:inline; }
select { display:inline; }
select.display { width:70px; }
input.inline { display:inline; }

div#links { width:930px; min-height:250px; height:auto; padding:10px; background-color:#FFFFFF; }
.ui-accordian .ui-accordian-content { padding: 1em 1em; }

div#trash { background-image: url('../includes/images/trash.png'); background-repeat:no-repeat; background-position: center; width:64px; height:64px; position:absolute; top:10px; right:10px; z-index:999; border:#AAAAAA 1px dashed; }


div#footer { border-top-width: 0px; }
span#footer-thankyou { display: none; }

.w25 { width: 25px; }
.w30 { width: 30px; }
.w35 { width: 35px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w95 { width: 95px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w185 { width: 185px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }

.w72p { width: 72%; }
.w95p { width: 95%; }
.w100p { width: 100%; }

.h80 { height: 80px; }
.h120 { height: 120px; }
.h150 { height: 150px; }	
.h200 { height: 200px; }	
.h250 { height: 250px; }
.h300 { height: 300px; }							


li#iire-facebook { background-position: 0px 0px; }
li#iire-twitter { background-position: -24px 0px; }
li#iire-googleplus { background-position: -48px 0px; }
li#iire-pinterest { background-position: -72px 0px; }
li#iire-youtube { background-position: -96px 0px; }
li#iire-rss { background-position: -120px 0px; }
li#iire-favorite { background-position: -144px 0px; }
li#iire-blank { background-position: -168px 0px; }	

div#iire_social_panel_tab {
	position:fixed;
	top:120px;
	right: 270px;
	width: 20px;
	height: 40px;
	padding:0px;
	z-index:9999;		
	display:block;
	background:#21759B;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;		
	-moz-border-radius-topleft:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	cursor:pointer;		
}

div#iire_social_panel_tab span {
	padding:0px;
	margin:0px;
	line-height:5px;
	position:absolute;
	top:15px;
	left:5px;
	width: 10px;
	height: 10px;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;			
}
	
div#iire_social_panel_tab span:hover {
	color:#CCCCCC;
}	

div#iire_social_panel_right {
	position:fixed;
	top:25px;
	right: 0px;
	width: 250px;
	height: 100%;
	padding:0px 10px;
	z-index:9999;		
	display:block;
	background:#ECECEC;
	border-left:#CCCCCC 1px solid;
}
	
div#iire_social_panel_right p { margin:1px; font-size:12px; color:#999999; }

h3 span.instructions { color:#999; font-weight:normal; font-size:11px; }	
h3.panel_active { background:#21759B; color:#FFFFFF; font-weight:bold; }
h3.panel_active a, h3.panel_active a:link, h3.panel_active a:visited   { background:#21759B; color:#FFFFFF; font-weight:bold; }

div#iire_social_panel_right p label { display:inline-block; width:110px; }
div#iire_social_panel_right p label.w80 { display:inline-block; width:80px; }		

div.iire_social_widget, div.iire_social_shortcode { position: relative; }			
div.iire_social_widget p, div.iire_social_shortcode p  { padding-bottom: 4px; font-family: helvetica, san-serif; font-size:12px; font-weight:bold; }	
	
div#iire_social_widget div.move, div#iire_social_shortcode div.move { cursor:move; }	
	
.horizontal { float:left; margin:0px 0px 0px 0px; }
.vertical { float:none; margin:0px 0px 5px 0px; }

.horizontal.alignleft { float:left; text-align:left; }	
.horizontal.alignright{ float:right; text-align:right; }		
	
.sp0 { margin:0px 0px 0px 0px; }
.sp1 { margin:0px 1px 1px 0px; }
.sp2 { margin:0px 2px 2px 0px; }
.sp3 { margin:0px 3px 3px 0px; }
.sp4 { margin:0px 4px 4px 0px; }
.sp5 { margin:0px 5px 5px 0px; }
.sp6 { margin:0px 6px 6px 0px; }
.sp7 { margin:0px 7px 7px 0px; }
.sp8 { margin:0px 8px 8px 0px; }
.sp9 { margin:0px 9px 9px 0px; }
.sp10 { margin:0px 10px 10px 0px; }
.sp11 { margin:0px 11px 11px 0px; }
.sp12 { margin:0px 12px 12px 0px; }
.sp13 { margin:0px 13px 13px 0px; }
.sp14 { margin:0px 14px 14px 0px; }
.sp15 { margin:0px 15px 15px 0px; }
.sp16 { margin:0px 16px 16px 0px; }
.sp17 { margin:0px 17px 17px 0px; }
.sp18 { margin:0px 18px 18px 0px; }
.sp19 { margin:0px 19px 19px 0px; }	
.sp20 { margin:0px 20px 20px 0px; }
.sp21 { margin:0px 21px 21px 0px; }	
.sp22 { margin:0px 22px 22px 0px; }	
.sp23 { margin:0px 23px 23px 0px; }	
.sp24 { margin:0px 24px 24px 0px; }	
.sp25 { margin:0px 25px 25px 0px; }	