/* 24 x 24 Icons */
.icon24 {
	cursor:pointer;
	display:block;
	height:24px;
	width:24px;
	padding:0px;		
}	
div#iire_social_lite_widget .iire-facebook24 { background-position: 0px 0px; }
div#iire_social_lite_widget .iire-twitter24 { background-position: -24px 0px; }
div#iire_social_lite_widget .iire-googleplus24 { background-position: -48px 0px; }
div#iire_social_lite_widget .iire-pinterest24 { background-position: -72px 0px; }
div#iire_social_lite_widget .iire-youtube24 { background-position: -96px 0px; }
div#iire_social_lite_widget .iire-rss24 { background-position: -120px 0px; }
div#iire_social_lite_widget .iire-favorite24 { background-position: -144px 0px; }
div#iire_social_lite_widget .iire-blank24 { background-position: -168px 0px; }	

div#iire_social_lite_shortcode .iire-facebook24 { background-position: 0px 0px; }
div#iire_social_lite_shortcode .iire-twitter24 { background-position: -24px 0px; }
div#iire_social_lite_shortcode .iire-googleplus24 { background-position: -48px 0px; }
div#iire_social_lite_shortcode .iire-pinterest24 { background-position: -72px 0px; }
div#iire_social_lite_shortcode .iire-youtube24 { background-position: -96px 0px; }
div#iire_social_lite_shortcode .iire-rss24 { background-position: -120px 0px; }
div#iire_social_lite_shortcode .iire-favorite24 { background-position: -144px 0px; }
div#iire_social_lite_shortcode .iire-blank24 { background-position: -168px 0px; }



/* 32 x 32 Icons */
.icon32 {
	cursor:pointer;
	display:block;
	height:32px;
	width:32px;
	padding:0px;		
}	
div#iire_social_lite_widget .iire-facebook32 { background-position: 0px 0px; }
div#iire_social_lite_widget .iire-twitter32 { background-position: -32px 0px; }
div#iire_social_lite_widget .iire-googleplus32 { background-position: -64px 0px; }
div#iire_social_lite_widget .iire-pinterest32 { background-position: -96px 0px; }
div#iire_social_lite_widget .iire-youtube32 { background-position: -128px 0px; }
div#iire_social_lite_widget .iire-rss32 { background-position: -160px 0px; }
div#iire_social_lite_widget .iire-favorite32 { background-position: -192px 0px; }
div#iire_social_lite_widget .iire-blank32 { background-position: -224px 0px; }

div#iire_social_lite_shortcode .iire-facebook32 { background-position: 0px 0px; }
div#iire_social_lite_shortcode .iire-twitter32 { background-position: -32px 0px; }
div#iire_social_lite_shortcode .iire-googleplus32 { background-position: -64px 0px; }
div#iire_social_lite_shortcode .iire-pinterest32 { background-position: -96px 0px; }
div#iire_social_lite_shortcode .iire-youtube32 { background-position: -128px 0px; }
div#iire_social_lite_shortcode .iire-rss32 { background-position: -160px 0px; }
div#iire_social_lite_shortcode .iire-favorite32 { background-position: -192px 0px; }
div#iire_social_lite_shortcode .iire-blank32 { background-position: -224px 0px; }



/* 48 x 48 Icons */	
.icon48 {
	cursor:pointer;
	display:block;
	height:48px;
	width:48px;
	padding:0px;		
}	
div#iire_social_lite_widget .iire-facebook48 { background-position: 0px 0px; }
div#iire_social_lite_widget .iire-twitter48 { background-position: -48px 0px; }
div#iire_social_lite_widget .iire-googleplus48 { background-position: -96px 0px; }	
div#iire_social_lite_widget .iire-pinterest48 { background-position: -144px 0px; }
div#iire_social_lite_widget .iire-youtube48 { background-position: -192px 0px; }
div#iire_social_lite_widget .iire-rss48 { background-position: -240px 0px; }
div#iire_social_lite_widget .iire-favorite48 { background-position: -288px 0px; }
div#iire_social_lite_widget .iire-blank48 { background-position: -336px 0px; }

div#iire_social_lite_shortcode .iire-facebook48 { background-position: 0px 0px; }
div#iire_social_lite_shortcode .iire-twitter48 { background-position: -48px 0px; }
div#iire_social_lite_shortcode .iire-googleplus48 { background-position: -96px 0px; }	
div#iire_social_lite_shortcode .iire-pinterest48 { background-position: -144px 0px; }
div#iire_social_lite_shortcode .iire-youtube48 { background-position: -192px 0px; }
div#iire_social_lite_shortcode .iire-rss48 { background-position: -240px 0px; }
div#iire_social_lite_shortcode .iire-favorite48 { background-position: -288px 0px; }
div#iire_social_lite_shortcode .iire-blank48 { background-position: -336px 0px; }
